# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.rb linguist-language=Assembly

# Replace any whitespace in the language name with hyphens:
#*.glyphs linguist-language=OpenStep-Property-List
